{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if books %}
        <div id="homepage">
            <div id="home-view">
                <div id="header">
                    <p id="header-tip">
                        <span id="h-h">Tip</span><br>
                        <span style="color: red">{{ rand_tip[0] }}: </span>{{ rand_tip[1] }}<br>
                        <span id="h-title">-{{ rand_title }}</span><br>
                    </p>
                    <button id="change-color" title="Change color">🖌️</button>
                </div>
                {% for category in categories %}
                    <section class="categories">
                        <h1>{{ category[1].capitalize() }}:-</h1>
                        <hr>
                        <div class="scroller">
                            {% for book in books %}
                                {% if book[6] == category[0] %}
                                    <a href="/tips/{{ book[0] }}"><img class="book-cover" title="{{ book[1] }}" src="{{ book[4] }}" alt="book-cover"></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div id="search-view">
            <h4 style="color: gray;">< Search results for "{{ searched_title }}" ></h4>
            {% if search_results %}
                <h2 style="color: darkcyan;">Is this what you're looking for?</h2><hr>
                <div class="scroller">
                    {% for book in search_results %}
                        <a href="/tips/{{ book[0] }}">
                            <img class="book-cover" title="{{ book[1] }}" src="{{ book[4] }}" alt="book-cover">
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <hr>
                <div id="not-found">
                    <img src="/static/images/no-results.png" alt="no results" width="15%" style="min-width: 10rem">
                    <p>No results.</p>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}