<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="/static/tentips.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                <a href="/">
                    <h1><span style="color:cornflowerblue">Ten</span><span style="color:coral">tips</span></h1>
                </a>
            </div>
            <div class="items">
                <a><i class="fa fa-circle icon"></i></a>
                <a href="/favorites"><i style="color: #ffea00" class="fa fa-star icon"></i></a>
                <a><i style="color: rgb(67, 144, 226)" class="fa fa-bell icon"></i></a>
                <a id="bars"><i class="fa fa-bars icon"></i></a>
            </div>
            <div class="search-bar">
                <form action="/" method="POST">
                    <input name="search" id="search" type="text" placeholder="search" autocomplete="off">
                    <button id="search-btn" type="submit"><i class="fa fa-search icon"></i></button>
                </form>
            </div>
        </div>
        {% block main %}{% endblock %}
    </body>
</html>